@media screen and (min-width: 640px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    .parent {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 10px;
    }

    .parent section {
        box-shadow: 1px 1px 10px black;
    }

    nav a {
        padding: 20px;
        font-size: 20px;
    }

    header {
        display: flex;
        margin: 5px;

    }

    header img {
        width: 13%;
        height: auto;
        padding: 8px;
    }

    header span {
        font-size: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin-left: 320px;
        padding: 100px;
    }

    ul.menuLinks,
    ul.menuLinks.open {
        display: flex;

    }

    #myButton {
        display: none;
    }

    nav {
        grid-template-rows: 1fr;
    }
}

@media (max-width: 640px) {
    nav ul {
        display: none;
        flex-direction: column;
        background: black;
        width: 100%;
    }

    nav.open ul {
        display: flex;
    }

    nav ul li {
        width: 100%;

    }

    nav ul li a {
        width: 100%;
        box-sizing: border-box;
        text-align: left;
        padding-left: 1.5rem;
        text-align: center;
    }

    #myButton {
        display: block;
    }
}